In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("spam.csv")
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.columns

Index(['Category', 'Message'], dtype='object')

In [10]:
data['Category']=data['Category'].map({'ham':0,'spam':1})

In [11]:
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [16]:
x=data['Message']
y=data['Category']

In [17]:
x.shape
y.shape

(5572,)

In [18]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [19]:
cv=CountVectorizer()
x=cv.fit_transform(x)

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [21]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9739910313901345

In [22]:
import pickle
pickle.dump(model,open('spam123.pkl','wb'))

In [24]:
pickle.dump(cv,open('vec123.pkl','wb'))